
body { 
  color:#000000;
  font-family:Helvetica,Arial,sans-serif;
  font-size:small;
  text-align:left;
}

a {
  text-decoration:none; 
  color:#2B4B4B;
}

.imagetd { 
  vertical-align: top;
  width: 23px;
}

.sett { 
  padding-top: 20px;
}

.closp {
  width: 455px;
  position: relative;
  top: -46px;
  left: 555px;
  display: block;
  text-align:right;
}

.op_action {
  vertical-align: top;
}

.settingstable {
  width: 900px;
  border-spacing: 3;j
}

table {
  align: left;
}

td {
  color:#000000;
  font-family:Helvetica,Arial,sans-serif;
  font-size:small;
  text-align:left;
  white-space:nowrap;
}

textarea { 
  width: 99%;
  height: 300px;
}
